
/* #cartModal
{
    height: 300px;
} */

#cartCount
{
    color: white;
    font-size: 12px;
    text-align: center;
    margin-top: -75px;
    margin-left: 790px;
    margin-right:20px;
    border: 1px solid red;
    background-color: red;
    width: 3%;
    border-radius: 50%;
}
button,
select {
  padding: 10px; /* Adjust padding to increase or decrease the size */
  font-size: 16px; /* Adjust font size as needed */
  border: 1px solid #ccc; /* Add a border for a clean look */
  border-radius: 5px; /* Add rounded corners */
  background-color: #f0f0f0; /* Set background color */
  color: #333; /* Set text color */
  cursor: pointer; /* Change cursor on hover */
}

button:hover,
select:hover {
  background-color: #e0e0e0; /* Change background color on hover */
}
